{% extends 'admin/admin.html.twig' %}

{% block title %}
	Recettes :
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<h1>
		{{ recipe.title }}
	</h1>
	<p><img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.title }}"></p>
	<turbo-frame id="recipe_{{ recipe.id }}">
		{{ form(
			form, 
			{
				action: path('admin.recipe.edit', {id: recipe.id})
			})
		}}
		</turbo-frame>
	{% endblock %}
