{% extends 'admin/admin.html.twig' %}

{% block title %}Toutes les recettes
{% endblock %}

{% block body %}
	<p>
		<a class="btn btn-primary btn-sm" href="{{ path ('admin.recipe.create') }}">Créer une recette</a>
	</p>
	<div class="flash"></div>
	<table class="table">
		<thead>
			<tr>
				<th>
					{{ knp_pagination_sortable(recipes, 'ID', 'r.id')}}
				</th>
				<th>
					{{ knp_pagination_sortable(recipes, 'Titre', 'r.title')}}

				</th>
				<th>
					catégorie
				</th>
				<th style="width: 200px">
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			{% for recipe in recipes %}
				<tr id="row_recipe_{{ recipe.id }}">
					<td>{{ recipe.id }}
					</td>
					<td>
						<turbo-frame id="recipe_{{ recipe.id }}">
							<a href="{{ path ('admin.recipe.edit', {id: recipe.id} ) }}">{{ recipe.title }}</a>
						</turbo-frame>
					</td>
					<td>
						{# <a href="{{ path ('admin.category.edit', {id: recipe.category.id} ) }}">{{ recipe.category.name }}</a> #}
						{{ recipe.category.name | default('')}}
					</td>
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary btn-sm" href="{{ path ('admin.recipe.edit', {id: recipe.id} ) }}">Editer</a>
							<form action="{{ path ('admin.recipe.delete', {id: recipe.id}) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
							</form>
						</div>
					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
	{{ knp_pagination_render(recipes) }}
	{# <div class="d-flex">
													{% if page >1 %}
														<a href="{{ path ('admin.recipe.index', {page: page - 1}) }}" class="btn btn-secondary">Page précédente</a>
													{% endif %}
													{% if page < maxPage %}
														<a href="{{ path ('admin.recipe.index', {page: page + 1}) }}" class="btn btn-secondary">Page suivante</a>
													{% endif %}
												</div> #}
{% endblock %}
