<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Administration
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar  bg-primary navbar-expand-lg" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path ('admin.recipe.index') }}">Administration</a>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link {{ app.current_route starts with 'admin.recipe.' ? 'active' : '' }}" href=" {{ path ('admin.recipe.index') }} ">Recettes</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link {{ app.current_route starts with 'admin.category.' ? 'active' : '' }}" href=" {{ path ('admin.category.index') }} ">Catégories</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container my-4">
			{% include 'partials/_flash.html.twig' %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
