{% extends 'admin/admin.html.twig' %}

{% block title %}Toutes les catégories
{% endblock %}

{% block body %}
	<p>
		<a class="btn btn-primary btn-sm" href="{{ path ('admin.category.create') }}">Créer une catégorie</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					Nom
				</th>
				<th>
					Recettes
				</th>
				<th style="width: 200px">
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>
						{{ category.name }}
					</td>
					<td>{{ category.count }}</td>
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary btn-sm" href="{{ path ('admin.category.edit', {id: category.id} ) }}">Editer</a>
							<form action="{{ path ('admin.category.delete', {id: category.id}) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
							</form>
						</div>
					</td>
				</tr>

			{% endfor %}
		</tbody>
	{% endblock %}
