{% extends 'base.html.twig' %}

{% block title %}Nous Contacter!
{% endblock %}

{% block body %}
	<h1>Nous Contacter</h1>

	{{ form_start(form) }}
	<div class="row">
		<div class="col-sm">{{ form_row(form.name) }}
		</div>
		<div class="col-sm">{{ form_row(form.email) }}
		</div>
		<div class="col-sm">{{ form_row(form.service) }}
		</div>
	</div>
	{{ form_end(form) }}

{% endblock %}
