<p>
	Une nouvelle demande a été recue
</p>


<ul>
	<li>Nom :
		{{ data.name }}</li>
	<li>Email:
		<code>{{ data.email }}</code>
	</li>
</ul>
<p>
	<strong>
		Message :
	</strong><br/>
	{{ data.message | nl2br }}
</p>
